<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">

<fieldset>
<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){  
    $('form[data-remote]').bind("ajax:before", function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });

 </script>


 <div class="field">
  <%= f.label :author_id %>
  <%= f.collection_select :author_id, Author.all, :id, :name %>
</div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Published_On %>
    <%= f.text_field   :published_on%>
  </div>


  <div class="field">
    <%= f.label :content %>
  
    <%= f.cktext_area :content, :toolbar => 'Full', :width => 600, :height => 200 %>
  </div>

 <div>
    <%= f.submit %>
  </div>
</form>



<% end %>
